body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 25px 0;
  box-sizing: border-box;
}

.allcontent {
  background-color: teal;
  padding: 5px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  left: -56px;
}

li:first-child {
  padding-top: 25px;
}

.showcontact>li {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.dif-span {
  color: rgb(228, 228, 228);
}

.form {
  position: relative;
  left: -70px;
}

.form-ekle {
  position: relative;
  left: 81px;
}

input {
  padding: 5px 2px;
}

input:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
